$font-family-base: 'Raleway', Arial, sans-serif;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

$white: #fff;
$black: #000;
